[user]
        email = voivoid@mail.ru
        name = Sergey Ivanov
[core]
        editor = emacs
        autocrlf = input

[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"

[merge]
    tool = meld
[mergetool "meld"]
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"

[advice]
	addIgnoredFile = false
[pull]
	ff = only
[merge]
	conflictstyle = diff3
