[user]
	email = voivoid@mail.ru
	name = Sergey Ivanov
[core]
	editor = emacs
	autocrlf = input

[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
