[user]
	email = voivoid@mail.ru
	name = Sergey Ivanov
	signingkey = C182D54F525BFD45
[core]
	editor = emacs

[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"